---
---
<nav class="bg-gray-800 text-gray-100">
  <div class="container mx-auto flex items-center justify-between px-4 py-3">
    <a href="/" class="text-xl font-bold hover:text-indigo-400">Ankur Kelkar</a>
    <ul class="flex space-x-6">
      <li><a href="/" class="hover:text-indigo-400">Home</a></li>
      <li><a href="/blog" class="hover:text-indigo-400">Blog</a></li>
      <li><a href="/resume" class="hover:text-indigo-400">Resume</a></li>
    </ul>
  </div>
</nav>
